@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li,
h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color:#173E6A;
  /* font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; */

  font-family:"游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", fot-tsukuardgothic-std Std, zen-kaku-gothic-new, sans-serif; 

  font-weight: 400;

  /* font-family:fot-tsukuardgothic-std Std, zen-kaku-gothic-new,
  sans-serif; */
}

