@charset "utf-8";
html {
  font-size: 100%;
  scroll-behavior: smooth; /* スムーススクロール */
}

body {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: bold;
  /* background-image: url(./images/カンプ書き出し/4x/fv_pc@4x-80.jpg); */
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-family: fot-tsukuardgothic-std, sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/* h1 {
  font-family: fot-tsukuardgothic-std, sans-serif;
} */

h2 {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 700;
  font-size: 36px;
}

/* ローディングアニメーション */
/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background:#173E6A;
	text-align:center;
}

/* Loading画像中央配置　*/
#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg{
    width:300px;
}

/*=============== SVGアニメーション内の指定 =================*/

/*アニメーション前の指定*/
#mask path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
		fill-opacity: 0;
    /*最初は透過0で見えない状態*/
		transition: fill-opacity .7s;/*カラーがつく際のアニメーション変化*/
		fill: none;/*塗りがない状態*/
		stroke: #fff;/*線の色*/
	}

/*アニメーション後に.doneというクラス名がで付与された時の指定*/
#mask.done path{
	  fill: #fff;/*塗りの色*/
	  fill-opacity: 1;/*透過1で見える状態*/
	  stroke: none;/*線の色なし*/
}



/* ヘッダー */
.firstview {
  background-image: url(./images/firstview.png);
  background-repeat: no-repeat;
  height: 230vh;
  text-align: center;
  background-size: 100%;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 14px 0 14px 18px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
#header.top_page_header {
  width: 90%;
}

#header ul{
  display: flex;
  width: 126%;
  justify-content: space-between;
  text-align: center;
}
#header ul.top_header_ul {
  display: flex;
    width: 104%;
    justify-content: space-between;
}

.top_header_ul span {
  position: relative;
}

.top_header_ul li:last-of-type {
  background-color: #173E6A;
  padding: 1%;
  border-radius: 21px;
}

#header li {
  /* font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  color: #fff;
  margin-left: 35px; */
}

.top_nav li{
  /* font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 16px;
  color: #fff; */
  margin-left: 35px;
}
.top_nav a {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 16px;
  color: #fff;
}


  /* display: block;
  height: 100%;
  display: flex;
  align-items: center;
  transition: .3s;//アニメーションすることを想定して追加しておきます
}

/* .top_nav a {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  color: #fff;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  transition: .3s;
  position: relative;
  padding: 0 10px;
  transition: .3s;//アニメーションすることを想定して追加しておきます
}
.top_nav a::after {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  background: #FD6E50;
  position: absolute;
  bottom: -10px;
  left: 10%;
  transform: scale(0, 1);
  transition: .3s;
}

.top_nav a:hover {
  color: #FD6E50;
}

.top_nav a:hover::after {
  transform: scale(1, 1);
} */

.top_nav a:hover {
  color: #FD6E50;
  transition: all 0.3s ease;
}

.top_nav a:hover span::after {
  content: "";
  display: block;
  height: 100%;
  width: 20px;
  transition: all 0.3s ease;
  background-image: url(./images/image/2x/hover_sun.svg);
  background-size: contain; 
  background-repeat: no-repeat;
  position: absolute;
  top: -6px;
  left: 96%;
}

#top_nav_ham {
  display: none;
}


.contents_area_works {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.contents_area {
  /* width: 80%; */
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* mainvisual */
#mainvisual {
  margin-top: 158px;
}

#mainvisual h1 {
  /* font-family:  zen-kaku-gothic-new, sans-serif;
  font-weight: 700;
  font-size: 39px;
  text-align: center;
  line-height: 73px; */
  display: inline;
  font-family:  zen-kaku-gothic-new, sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: 73px;
  /* text-align: center; */
  /* padding: 5px; */
  background: linear-gradient(transparent 0%, #fff 0%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.sp_title_area {
  display: none;
}


/* コンタクトボタン */
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #173E6A;
  transition: all 0.5s ease;
}

a.btn--radius {
  border-radius: 50px 0 0 50px;
  padding: 1%;
  position: fixed;
  right: 0;
  z-index: 100;
}


/* concept */

#concept {
  margin-bottom: 192px;
}

#concept .concept_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 82px;
}

#concept p {
  /* あれ？なんで明朝？ */
  font-family: fot-tsukuardgothic-std, sans-serif; 
  font-size: 30px;
  font-weight: bold;
  line-height: 76px;
  letter-spacing: 0.1em;
  text-align: center;
}

/* profile
.contents_area.profile_contents {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#profile {
  background-color: #fff;
  border: 1px solid #173E6A;
  height: 392px;
  display: flex;
  width: 80%;
  margin: 0 auto 241px;
  border-radius: 21px;
  position: relative;
}

.profile_img_area {
  width: 526px;
  height: 351px;
  position: absolute;
  top: 21px;
  left: -65px;
}

.profile_img_area img {
  border-radius: 4%;
}

.profile_right {
  width: 40%;
  margin: auto;
  position: absolute;
  top: 45px;
  right: 59px;
}
.profile_right_profile_page {
  margin: auto;
}

#profile .name_area {
  font-family: fot-tsukuardgothic-std, sans-serif;
  display: flex;
  align-items: center;
  gap: 30px; 
  margin-bottom: 6px;
}
#profile .name_area_profile_page {
  align-items: center;
}

#profile .name {
  font-size: 33px;
  font-weight: normal;
}
.name_profile_page {
  font-size: 33px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px;
}

#profile .english_name {
  font-size: 18px;
  font-weight: normal;
}
.english_name_profile_page {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px;
}

.profile_text p {
  /* あれ？なんで明朝？ */
  /* font-family: fot-tsukuardgothic-std, sans-serif; 
  font-size: 14px;
  line-height: 28.5px; */

.profile_top_nav li{
    margin-left: 35px;
    position: relative
  }
.profile_top_nav a {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 16px;
  color: #173E6A;
  font-weight: bold;
}
.profile_top_nav a:hover {
  color: #FD6E50;
  transition: all 0.3s ease;
}

.profile_top_nav a:hover span::after {
  content: "";
  display: block;
  height: 100%;
  width: 20px;
  /* transition: all 0.3s ease; */
  background-image: url(./images/image/2x/hover_sun.svg);
  background-size: contain; 
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: 95%;
  z-index: 100;
}

.profile_btn01 {
    background-color: #173E6A; /* 背景色 */
  color: white; /* 文字色 */
  padding: 20px 30px; /* パディング */
  font-family: zen-kaku-gothic-new, sans-serif;
  text-align: center; /* 文字のアライメント */
  text-decoration: none; /* 文字装飾 */
  display: inline-block; /* ボタンの表示方法 */
  font-size: 20px; /* フォントサイズ */
  font-weight: bold;
  margin: -20% -60% 247px 0; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border: none; /* ボーダーなし */
  border-radius: 80px; 
  box-shadow: 0 0, 5px 6px 0 0 #fff, 5px 6px 0 1px #173E6A;
}


.profile_btn01:hover {
  background-color: #FD6E50;
  transition: all 0.5s ease;
} 

.profile_area {
  display: flex;
  background-color: #fff;
  border: 1px solid #173E6A;
  border-radius: 21px;
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.profile_img_area img {
  border-radius: 4%;
  margin-left: -114px;
}
.profile_right {
  margin: auto 10px;
}
.name_area {
  font-family: fot-tsukuardgothic-std, sans-serif;
  gap: 30px;
  margin-bottom: 28px;
  display: flex;
  align-items: baseline;
}
.name {
  font-size: 33px;
}
.english_name {
  font-size: 18px;
}
.profile_text p {
  font-family: fot-tsukuardgothic-std, sans-serif; 
  font-size: 16px;
  line-height: 28.5px; 
  text-align: left;
}








.comment_area {
  display: flex;
  column-gap: 9%;
  justify-content: center;
}

.comment {
  font-family: zen-kaku-gothic-new, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.profile_btn02 {
  background-color: #FD6E50; /* 背景色 */
  color: white; /* 文字色 */
  padding: 40px 63px; /* パディング */
  font-family: zen-kaku-gothic-new, sans-serif;
  text-align: center; /* 文字のアライメント */
  text-decoration: none; /* 文字装飾 */
  display: inline-block; /* ボタンの表示方法 */
  font-size: 30px; /* フォントサイズ */
  font-weight: bold;
  margin: 20px auto 247px; /* 外側の余白 */
  cursor: pointer; /* カーソル */
  border: none; /* ボーダーなし */
  border-radius: 80px; 
  box-shadow: 0 0, 5px 6px 0 0 #fff, 5px 6px 0 1px #FD6E50;
}

.profile_btn02:hover {
  background-color: #173E6A;
  transition: all 0.5s ease;
}

/* works */
.works_header {
  position: static;
}

#works {
  margin-bottom: 225px;
  position: relative;
}

#works h2 {
  margin-bottom: 97px;
}

.works_area {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
}

.works_contents:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.5s;
}

.works_img {
  width: 500px;
  height: 286px;
  background-color: #fff;
  margin-bottom: 25px;
  border-radius: 36px;
  border: solid 1px #173E6A;
}
.works_img img {
  object-fit:contain;
  width:96%;
  height:100%;
  object-position: -29px 67%;
}
.works_img.banner_area img{
  width: 53%;
  object-position: center;
}


.works_text {
  font-family: fot-tsukuardgothic-std, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 20px;
  text-align: left;
}

.works_btn {
  background-color: #173E6A; /* 背景色 */
  color: white; /* 文字色 */
  padding: 17px 62px; /* パディング */
  font-family: fot-tsukuardgothic-std, sans-serif; 
  text-align: center; /* 文字のアライメント */
  text-decoration: none; /* 文字装飾 */
  display: inline-block; /* ボタンの表示方法 */
  font-size: 30px; /* フォントサイズ */
  font-weight: normal;
  margin-top: 92px;
  cursor: pointer; /* カーソル */
  border: none; /* ボーダーなし */
  border-radius: 50px; /* 50pxの角丸 */
  box-shadow: 0 0, 3px 4px 0 0 #fff, 3px 4px 0 1px #173E6A;
}

.works_btn:hover {
  background-color: #FD6E50;
  transition: all 0.5s ease;
} 


/* skill */
#skill {
  background: rgba(137, 204, 224, 0.65);
  padding: 116px 0 ;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  position: relative;
}

#skill h2 {
  margin-bottom: 110px;
}

.skill_area01 {
  display: flex;
  justify-content: center;
  margin-bottom: 206px;
}
.skill_area01:nth-of-type(2) {
  flex-direction: row-reverse;
}
.design_skill {
  align-items: center;
  padding: 60px;
  display: flex;
  flex-direction: column;
}
.skill_title {
  display: inline-block;
  font-family: fot-tsukuardgothic-std, sans-serif;
  border: 1px solid #173E6A;
  letter-spacing: 0.1rem;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 28px;
}
.skill_text {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05px;
  margin: 28px 30px;
  letter-spacing: 0.1rem;
}
.skill_img.sp_img {
  display: none;
}
.sp_img:last-child {
  width: 156px;
}
.skill_img.pc_img {
  width: 375px;
  height: 279px;
}

/* #contact {
  margin: 174px 3% 221px;
}

#contact h2 {
  margin-bottom: 60px;
}

#contact p {
  margin-bottom: 54px;
  line-height: 28px;
}

.contact_form {
  display: flex;
  margin-bottom: 18px;
} */

/* .form_area {
  background-color: lightgray;
  width: 693px;
  height: 66px;
  border-radius: 16px;
  padding: 24px 0 0 24px ;
} */




/* レイアウト */
/* form {
  width: 70%;
  margin: 0 auto;
}
.form-row {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f2f4f5;
}
.form-row:last-child {
  border-bottom: none;
}
.form-label {
  display: flex;
  align-items: center;
  width: 250px;
}
.form-label label {
  font-weight: bold;
}
.form-label span {
  margin-left: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #166ab5;
} */

/* copy  form */
#contact {
  margin: 174px 3% 221px;
}

#contact h2 {
  margin-bottom: 60px;
}
#contact p {
  margin-bottom: 54px;
  line-height: 28px;
}
.c-form {
	max-width: 90%;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
  text-align: left;
}
.c-form__input {
	width: 90%;
  padding: 2%;
	font-size: 16px;
	border: none;
	border-radius: 4px;
  background-color: rgb(242, 244, 245);
  border-radius: 4px;
}

.c-form__input:focus-visible {
	outline:#FD6E50 auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: rgb(22, 106, 181);
	border-radius: 4px;
	padding: 2px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
  letter-spacing: 0.1em;
}
.c-form__submit {
	text-align: center;
}

.c-form__submit button {
background-color: #173E6A; /* 背景色 */
color: white; /* 文字色 */
padding: 17px 62px; /* パディング */
font-family: fot-tsukuardgothic-std, sans-serif; 
text-align: center; /* 文字のアライメント */
text-decoration: none; /* 文字装飾 */
display: inline-block; /* ボタンの表示方法 */
font-size: 30px; /* フォントサイズ */
font-weight: normal;
margin-top: 92px;
cursor: pointer; /* カーソル */
border: none; /* ボーダーなし */
border-radius: 50px; /* 50pxの角丸 */
box-shadow: 0 0, 3px 4px 0 0 #fff, 3px 4px 0 1px #173E6A;
}

.c-form__submit button:hover {
  background-color: #FD6E50;
  transition: all 0.5s ease;
} 
/* .c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: green;
	border: solid 1px green;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: green;
	background-color: transparent;
} */

.thanks_page_message {
  margin-top: 15%;
}
.thanks_page_title {
  font-size: 42px;
  margin-bottom: 50px;
}
.thanks_page_text {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-weight: normal;
}

}



/* フォームパーツのデザイン */
input, textarea {
  background-color: #f2f4f5;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  font-size: 16px;
  color: #333;
  flex-grow: 1;
  letter-spacing: 0.08em;
  line-height: 1.5em;
}
input::placeholder,
textarea::placeholder {
  color: #999;
  font-size: 14px;
}
select {
  background-color: #f2f4f5;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  font-size: 16px;
  color: #333;
}
/* button {
  cursor: pointer;
  margin-top: 30px;
  padding: 15px 45px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background-color: #166ab5;
} */






.contact_btn {
  background-color: #173E6A; /* 背景色 */
  color: white; /* 文字色 */
  padding: 17px 62px; /* パディング */
  font-family: fot-tsukuardgothic-std, sans-serif; 
  text-align: center; /* 文字のアライメント */
  text-decoration: none; /* 文字装飾 */
  display: inline-block; /* ボタンの表示方法 */
  font-size: 30px; /* フォントサイズ */
  font-weight: normal;
  margin-top: 92px;
  cursor: pointer; /* カーソル */
  border: none; /* ボーダーなし */
  border-radius: 50px; /* 50pxの角丸 */
  box-shadow: 0 0, 3px 4px 0 0 #fff, 3px 4px 0 1px #173E6A;
}

.contact_btn:hover {
  background-color: #3e8e41;
  transition: all 0.5s ease;
}

/* message */
.message_area {
  margin-bottom: 227px;
  line-height: 28px;
  position: relative;
}



/* #message p {
  font-size: 16px;
} */

.message_area div {
  position: relative;
  display:inline-block;
  margin-bottom: 70px;
}

.message_area div p {
  display: inline-block;
  font-weight: bold;
}

.message_area p {
  line-height: 28px;
  font-weight: bold;
}

.thanks_sun_pc {
  width: 106px;
  height: 95px;
  position: absolute;
  top: -64px;
  right: -67px;
}

.para_2 {
  margin-bottom: 80px;
  font-family: zen-kaku-gothic-new, sans-serif;
  font-weight: bold;
  line-height: 32px;
}


/* footer */
.copylight {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/* プロフィールページ */
.main_contents {
  width: 100%;
  height: 100px;
}


.profile_header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  background-color: #fff;
}

/* .profile_header .top_nav a {
  color: #173E6A;
  font-weight: bold;
} */

/* パララックスエリア */
.parallax_box {
  margin-bottom: 40px;
}
.parallax_text {
  display: inline-block;
}
.parallax_text_middle {
  display: block;
  text-align: left;
}

.parallax_content{
  min-height: 400px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:  zen-kaku-gothic-new, sans-serif;
}
.parallax_content {
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
  line-height: 63px;
  text-align: left;
  padding: 36px;
}
.front_wrapper{
  padding: 50px;
  background-color: #fff;
  color: #FD6E50;
  display: flex;
  justify-content: space-between;
}
.front_content_area {
  width: 47%;
}
.front_content_text {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.15em;
}
.parallax_content.img_bg_01{
  text-align: end;
  background-image: url(./images/ootani_01.jpg);
  background-size: cover;
  width: 100%;
}
.parallax_content.img_bg_02{
  text-align: end;
  background-image: url(./images/ootani_02.jpg);
  background-size: cover;
}
.parallax_content.img_bg_03{
  text-align: end;
  background-image: url(./images/ootani_03.jpg);
  background-size: cover;
}


.ribbon1 {
  display: inline-block;
  position: relative;
  height: 50px;/*リボンの高さ*/
  line-height: 50px;/*リボンの高さ*/
  text-align: center;
  padding: 0 40px;/*横の大きさ*/
  font-size: 20px;/*文字の大きさ*/
  font-family:  zen-kaku-gothic-new, sans-serif;
  font-weight: bold;
  background: #FD6E50;/*塗りつぶし色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
  margin-bottom: 24px;
}

.ribbon1:before, .ribbon1:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon1:before {
  top: 0;
  left: 0;
  border-width: 25px 0px 25px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon1:after {
  top: 0;
  right: 0;
  border-width: 25px 15px 25px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}


#profile_b {
  background-color: #173E6A;
  border: 1px solid #fff;
  padding: 5% 0;
  display: flex;
  margin: 0 auto 241px;
  border-radius: 21px;
}
#profile_b .profile_right {
  width: 100%;
  text-align: center;
}

#profile_b .name_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; 
  margin-bottom: 32px;
  color: #fff;
}
#profile_b .name_area_profile_page {
  color: #fff;
}
#profile_b .name {
  font-size: 33px;
  font-weight: normal;
}
#profile_b .name_profile_page {
  margin-bottom: 1%;
  font-size: 33px;
  font-weight: normal;
  color: #fff;
}

#profile_b .english_name_profile_page {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 1%;
}


#profile_b .profile_text p {
  font-family: fot-tsukuardgothic-std, sans-serif; 
  text-align: center;
  font-size: 14px;
  line-height: 28.5px;
  color: #fff;
 margin: 0 auto;
  width: 80%;
}

#me_and_design{
  padding-bottom: 300px;
  position: relative;
}

#me_and_design h2 {
  margin-bottom: 80px;
}
.me_and_design_text {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  font-family:  zen-kaku-gothic-new, sans-serif;
}
.me_and_design_text .para_2:last-child {
  margin-bottom: 290px
}



.ship {
  width: 114px;
  height: 74px;
  animation: ship 3s infinite;
}

#ship_left {
  width: 112px;
  object-fit: cover;
  position: absolute;
  right: 95px;
  bottom: 122%;
  animation: ship 3s infinite;
}

.wave_area {
  position: relative;
}




@keyframes ship {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

#wave_profile_01 {
  margin-bottom: 42px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
#wave_profile_02 {
  margin-bottom: 42px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
#wave_profile_03 {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}



/* モバイルファーストのエリア */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

/*画像のうめこみ body {
  background-image: url('https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgxMjQ5NDg&ixlib=rb-1.2.1&q=80');
  background-size: cover;
  background-attachment: fixed;
} */
/* h1, h2, h3 {
  font-family: 'Arima', cursive;
} */

#strong_point {
  position: relative;
}
#strong_ship.ship {
  position: absolute;
  top: 404px;
  left: 2%;
}
.island {
  width: 112px;
  object-fit: cover;
  position: absolute;
  right: 2%;
  top: 340px;
  animation: ship 3s infinite;
}
#wave_strong_01 {
  position: absolute;
  top: 467px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
#wave_strong_01 .scroll-infinity__list--right {
  animation: infinity-scroll-right 40s infinite linear 0.5s both;
}

.container {
  background: #fff;
  padding: 0 2rem 186px;
  max-width: 350px;
  margin: auto;
  position: relative;
}
.container h2 {
  margin-bottom: 104px;
}
.menu-icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  background: #0bd;
  padding: 1rem;
  position: fixed;
  right: 0;
}

.strong_point_box {
  font-family:  zen-kaku-gothic-new, sans-serif;
  font-weight: bold;
  letter-spacing: 0.01em;
    border-radius: 57px;
    border: 2px dashed #B6DFEF;
    margin-bottom: 45px;
    padding: 36px 18px;
}
.strong_point_title {
  font-size: 18px;
  margin-bottom: 36px;
}
.strong_point_image_1 {
  width: 148px;
  height: 108px;
  margin-bottom: 36px;
}
.strong_point_text {
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 23px;
}

.strong_point_image_2 {
  width: 124px;
  height: 117px;
  margin-bottom: 36px;
}

.strong_point_image_3{
  width: 108px;
  height: 120px;
  margin-bottom: 36px;
}

#profile_footer {
  display: inline-flex;
 flex-direction: column;
}

.footer_comment {
  font-size: 14px;
  font-family:  zen-kaku-gothic-new, sans-serif;
  margin: 15px 0 160px;
}

@media (max-width:1900px){
  .ham_nav{
    position: fixed;
    z-index:1000;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    /* background: rgba(0,0,0,0.9); */
    background: #173E6A;
    opacity: 0.98;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 右からスライド */
    transition: left 0.5s;
  }
  .ham_nav ul{
    list-style:none;
    display: flex;
    flex-direction: column;
  }
  .ham_nav li:not(:last-child){
    margin-bottom: 30px;
  }
  .ham_nav a{
    color: #ffffff;
    font-family: fot-tsukuardgothic-std, sans-serif; 
  }
}
/* ナビゲーションボタン（開く） */
#navbtn{
  position: fixed;
  top: 10px;
  right: 35px;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 500;
  margin-top: 25px;
}

#navbtn::before,
#navbtn::after{
  content : '';
  display: block;
  height: 1px;
  background-color: #FD6E50;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

#navbtn::before{
  transform: translateY(-10px);
  box-shadow: 0 10px #FD6E50;
}

/* ナビゲーションボタン（閉じる） */
.open #navbtn{
  z-index: 2000;
}
.open #navbtn::before{
  transform: rotate(-45deg);
  box-shadow: none;
}
.open #navbtn::after{
  transform: rotate(45deg);
  box-shadow: none;
}

.top_nav_btn{
  display: none;
}

/* ナビゲーションメニュー 開いた時*/
.open .ham_nav{
  left: 0;
}

/* works */
.works_page {
  margin-bottom: 120px;
}
.works_page h2 {
  margin-bottom: 56px;
}
.works_page p {
  margin-bottom: 100px;
}
.works_page_contents {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
}

/* works 作品詳細 */
.detail_header {
  position: static;
}
.mockup_pc {
  margin: 122px auto 80px -3%;
  display: block;
}
.mockup_sp {
  margin: 122px auto;
  display: block;
}

/* 拡大 */
.zoomIn{
	animation-name:zoomInAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
	transform: scale(0.9);
  }

  to {
      transform: scale(1);
  }
}

.mockup_text_area {
  display: flex;
  justify-content: space-between;
  padding-bottom: 66px;
  text-align: left;
}
.mockup_page_left {
  width: 40%;
}
.mockup_page_right {
  width: 50%;
}
.mockup_title {
  font-size: 20px;
  font-family:  zen-kaku-gothic-new, sans-serif;
  margin-bottom: 18px;
}
.mockup_text {
  font-size: 16px;
  font-family:  zen-kaku-gothic-new, sans-serif;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 46px;
}
.mockup_text:last-child {
  margin-bottom: 0;
}
.mockup_screen h2 {
  margin-bottom: 68px;
}
.screenshot_pc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.screenshot_sp {
  align-items: flex-start;
}

.pc_screen {
  width: 70%;
  object-fit: contain;
  object-position: top;
  border: 0.75px solid #B3B3B3;
}
.sp_screen {
  width: 28%;
  object-fit: contain;
  border: 0.75px solid #B3B3B3;
}

/* 波形のコード */
/* .text {
  ...
  transform: translateY(1px);/* ←ブラウザによって隙間ができるので入れている */
}

.u-pc {
  display: none;
} */


/* スクロールダウン動き */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down{
  position:absolute;
  bottom: 0px;
  left: 5%;
}

.scroll_down a{
  position: absolute;
  left: 24px;
  bottom: 87px;
  color: #fff;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2em;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll_down:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 11px;
  height: 11px;
  margin-left: 12px;
  border-radius: 50%;
  background:#fff;
  animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove{
  0%{bottom:160px;}
  100%{bottom:0px;}
}

@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}

.scroll_down:after{
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  width:2px;
  height: 160px;
  margin-left: 12px;
  background:#fff;
}

/* スクロールダウン終了 */



@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
    to {
    transform: translateX(-100%);
  }
  }
  /* .scroll-infinity {
    position: absolute;
    top: -23px;
  } */
  .scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
  }
  .scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0
  }
  .scroll-infinity__list--left {
    animation: infinity-scroll-left 40s infinite linear 0.5s both;
  }
  .scroll-infinity__item {
    width: calc(100vw / 6);
  }
  .scroll-infinity__item>img {
    width: 100%;
  }
  #wave_01.scroll-infinity {
    position: absolute;
    top: -140px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
  #wave_02.scroll-infinity {
    position: absolute;
    top: -25px;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }

	@keyframes infinity-scroll-right {
    from {
      transform: translateX(-100%);
    }
      to {
      transform: translateX(0%);
    }
    }
    .scroll-infinity__list--right{
      animation :infinity-scroll-right 60s infinite linear 0.5s both;
    }




#wave_03.scroll-infinity {
  position: absolute;
  top: -25px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
#wave_04 {
  transform: scaleY(-1);
  position: absolute;
  bottom: -25px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
#wave_05 {
  transform: scaleY(-1);
  position: absolute;
  bottom: -26px;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}




.bird_area {
  width: 50%;
 position: relative;
 top: -583px;
}

.bird {
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  animation: moving 16s linear infinite;
}

.bird.-type_2 {
  animation-delay: 1s;
}
.bird.-type_2:before,
.bird.-type_2:after {
  animation-delay: -2s;
}

.bird.-type_3 {
  animation-delay: 3s;
}

@keyframes moving {
  0% {
    top: 47vh;
    left: -2vw;
  }
  25% {
    top: 51vh;
    left: 23vw
  }
  100% {
    top: 47vh;
    left: 101vw;
  }
}

.bird:before, .bird:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #178baf;
  transform: rotate(-30deg);
  transform-origin: right bottom;
}

.bird:before {
  width: 100%;
  height: 1px;
  animation: leftWing 8s linear infinite;
}
.bird:after {
  width: 1px;
  height: 100%;
  animation: rightWing 8s linear infinite;
}

@keyframes leftWing {
  0%   { transform: rotate(-30deg); }
  2%   { transform: rotate(-110deg); }
  4%   { transform: rotate(-30deg); }
  6%   { transform: rotate(-110deg); }
  8%   { transform: rotate(-30deg); }
  10%  { transform: rotate(-110deg); }
  12%  { transform: rotate(-30deg); }
  30%  { transform: rotate(-30deg); }
  42%  { transform: rotate(-35deg); }
  72%  { transform: rotate(-35deg); }
  74%  { transform: rotate(10deg); }
  76%  { transform: rotate(-30deg); }
  78%  { transform: rotate(-110deg); }
  80%  { transform: rotate(-30deg); }
  82%  { transform: rotate(-110deg); }
  84%  { transform: rotate(-30deg); }
  86%  { transform: rotate(-110deg); }
  88%  { transform: rotate(-30deg); }
  90%  { transform: rotate(-110deg); }
  92%  { transform: rotate(-30deg); }
  94%  { transform: rotate(-110deg); }
  96%  { transform: rotate(-30deg); }
  98%  { transform: rotate(-110deg); }
  100% { transform: rotate(-30deg); }
}
 @keyframes rightWing {
  0%   { transform: rotate(30deg); }
  2%   { transform: rotate(110deg); }
  4%   { transform: rotate(30deg); }
  6%   { transform: rotate(110deg); }
  8%   { transform: rotate(30deg); }
  10%  { transform: rotate(110deg); }
  12%  { transform: rotate(30deg); }
  30%  { transform: rotate(30deg); }
  42%  { transform: rotate(35deg); }
  72%  { transform: rotate(35deg); }
  74%  { transform: rotate(0deg); }
  76%  { transform: rotate(30deg); }
  78%  { transform: rotate(110deg); }
  80%  { transform: rotate(30deg); }
  82%  { transform: rotate(110deg); }
  84%  { transform: rotate(30deg); }
  86%  { transform: rotate(110deg); }
  88%  { transform: rotate(30deg); }
  90%  { transform: rotate(110deg); }
  92%  { transform: rotate(30deg); }
  94%  { transform: rotate(110deg); }
  96%  { transform: rotate(30deg); }
  98%  { transform: rotate(110deg); }
  100% { transform: rotate(30deg); }
}

/****** Base style. ******/
/* body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
} */


/* 下からフェードイン */
/*===========
inview
===========*/

.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}
.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeIn_up_a {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 8s;
}
.fadeIn_up_a.is-show {
  transform: translate(0, 0);
  opacity: 1;
}
/*===========
.imgBox
===========*/

.imgBox {
  text-align: center;
  /* margin: 50px 0; */
}
.imgBox img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/*===========
.txtBox
===========*/

.txtBox {
  text-align: center;
}
.txtBox p {
  font-size: 60px;
  font-weight: bold;
  padding: 2em 0;
  margin: 0;
}

/*===========
base
===========*/

* {
  box-sizing: border-box;
}
.section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 20px 500px;
  overflow-x: hidden;
}
.section p._a {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 0 0;
}
.section p._a .link {
  display: inline-block;
  color: #607D8B;
  padding-left: 1.3em;
  text-indent: -1.3em;
}
.section p._a .link:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 2px solid #607D8B;
  border-right: 2px solid #607D8B;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 10px;
}

/* 左からフェードイン */
/*===========
inview
===========*/

.fadeIn_left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 3s;
}
.fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

/*===========
.imgBox
===========*/

.imgBox {
  text-align: center;
  /* margin-bottom: 50px ; */
  margin-top: 0;
}
.imgBox img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/*===========
.txtBox
===========*/

.txtBox {
  text-align: center;
}
.txtBox p {
  font-size: 60px;
  font-weight: bold;
  padding: 2em 0;
  margin: 0;
}

/*===========
base
===========*/

* {
  box-sizing: border-box;
}
.section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 20px 500px;
  overflow-x: hidden;
}
.section p._a {
  font-size: 12px;
  font-weight: bold;
  margin: 30px 0 0;
}
.section p._a .link {
  display: inline-block;
  color: #607D8B;
  padding-left: 1.3em;
  text-indent: -1.3em;
}
.section p._a .link:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 2px solid #607D8B;
  border-right: 2px solid #607D8B;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 10px;
}

@media screen and (max-width: 1266px) {
  .works_page_contents {
    justify-content: center;
  }
  .works_area {
    justify-content: center;
  }
}



@media screen and (min-width: 1025px) and (max-width: 1252px) {
  #header ul {
    width: 104%;
  }
  /* #profile {
    width: 109%;
  } */
}
@media screen and (max-width: 1024px)  {
  #header ul {
    width: 104%;
  }
  .top_nav a {
    font-size: 16px;
  }
  #wave_02.scroll-infinity {
    top: -18px;
}
}

@media screen and (max-width: 976px) {
  .top_nav {
    display: none;
  }
  .profile_top_nav {
    display: none;
  }
  #navbtn {
    display: block;
  }
  #wave_02.scroll-infinity {
    top: -14px;
  }

  
}



@media screen and (max-width: 768px) {
  .firstview {
    height: 126vh;
    width: 100%;
  }

  #top_nav_ham {
    display: block;
  }
  #navbtn {
    display: block;
  }
  
  .ham_nav {
    height: 110vh;
  }

  a.btn--radius {
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    padding: 2% 1% 2% 2%;
    position: fixed;
    right: 0;
    z-index: 100;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  /* #mainvisual h1 {
    line-height: 47px;
    font-size: 24px;
    letter-spacing: -5px;
  }
  #mainvisual h1 span {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    white-space: pre;
    display: inline-block;
    background: linear-gradient(transparent 0%, #fff 0%);
    -webkit-writing-mode: vertical-rl;
  } */

  #mainvisual h1 span {
    display: none;
  }
  .sp_title_area {
    display: block;
  }
  .sp_title_area {
    display: flex;
    width: 7%;
    gap: 16%;
    margin: -19% 42% 0 50%;
    flex-direction: row-reverse;
  }
  .sp_title_right {
    object-fit: contain;
  }
  .sp_title_left {
    object-fit: contain;
  }
  
  #concept {
    margin-bottom: 0;
  }

  #concept .concept_title {
    font-size: 12px;
    margin-bottom: 25px;
  }

  #concept p {
    font-size: 14px;
    line-height: 36px;
    margin-bottom: 50px;
  }

  /* #profile {
    height: 600px;
    width: 126%;
    margin-left: -90px;
    position: relative;
    margin-bottom: 66px;
  }
  .profile_img_area{
    position: static;
    margin: 20px auto;
  }
  .profile_img_area img {
    width: 337px;
    height: 230px;
  }
  #profile .name {
    font-size: 21px;
  }
  #profile .name_area {
    display: block;
    margin-bottom: 20px;
  }
  .profile_right {
    width: 80%;
    position: absolute;
    bottom: 55px;
    top: auto;
    right: 48px;
  }
  .profile_text {
    font-size: 14px;
  }
  .english_name {
    font-size: 14px;
    font-weight: normal;
  } */

  .profile_area {
    display: block;
    padding: 24px;
  }
  .profile_img_area img {
    margin-left: 0;
    width: 70%;
  }
  .name_area {
    display: block;
    margin-top: 14px;
  }
  .name {
    font-size: 22px;
    margin-bottom: 6px;
  }

.english_name {
  font-size: 16px;
}
  .profile_btn01 {
    font-size: 14px;
    margin: -98px -58px;
  }

  .profile_btn02 {
    font-size: 15px;
    padding: 20px 23px;
    margin-bottom: 150px;
    box-shadow: 0 0, 4px 5px 0 0 #fff, 4px 5px 0 1px #FD6E50;
  }
  .comment_area {
    margin-top: 16%;
  }
  .comment {
    font-size: 12px;
  }

  #wave_01.scroll-infinity {
    /* position: absolute; */
    top: -116px;
    /* margin: 0 calc(50% - 50vw);
    width: 100vw; */
  }
  
  #works {
    margin-bottom: 120px;
  }
  #works h2 {
    font-size: 24px;
    margin-bottom: 52px;
  }
  .works_text {
    font-size: 14px;
  }
  .works_btn {
    font-size: 18px;
  }
  .works_area {
    justify-content: center;
  }
  /* .works_img {
    width: 85%;
    margin: 0 auto 10px;
  } */

  #wave_02.scroll-infinity {
    top: -13px;
}
#wave_03.scroll-infinity {
  top: -14px;
}

#skill {
  padding: 68px 0 0;
}
#skill h2 {
  font-size: 24px;
  margin-bottom: 54px;
}
.skill_area01 {
  display: block;
  margin-bottom: 80px;
}
.skill_img {
  margin: 0 auto;
}

.skill_img.sp_img {
  display: inline-block;
  width: 170px;
  height: 126px;
  margin: 0 auto 40px;
}



.skill_img.pc_img {
  display: none;
}
.skill_text {
  font-size: 14px;
}
#wave_04.scroll-infinity {
  bottom: -15px;
}
#wave_05.scroll-infinity {
  bottom: -13px;
}

#contact h2 {
  font-size: 24px;
}
#contact p {
  font-size: 13px;
}
.c-form {
  max-width: 100%;
}
.c-form__submit button {
  font-size: 24px;
}



.contact_btn {
  font-size: 18px;
}

.message_area div p {
  font-size: 13px;
}
.message_area p {
  font-size: 13px;
}

/* profile page */
.parallax_box {
  margin-bottom: 0px;
}
.parallax_content {
  font-size: 24px;
}
.front_wrapper {
  display: block;
}
.front_content_area {
  width: 100%;
}
.front_content_text {
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 26px;
  letter-spacing: 0.15rem;
}

.ribbon1 {
  font-size: 15px;
}

#profile_b {
  margin: 133px -20px 114px 20px;
}
#profile_b .name_profile_page {
  font-size: 25px;
  margin-bottom: 2%;
}
#profile_b .english_name_profile_page {
  margin-bottom: 3%;
}

#me_and_design {
  padding-bottom: 256px;
}
#me_and_design h2 {
  font-size: 24px;
}
.me_and_design_text {
  width: 80%;
    margin: 0 auto;
}
.me_and_design_text .para_2{
  font-size: 14px;
}
.me_and_design_text .para_2:last-child {
  margin-bottom: 210px;
}
.container {
  padding: 0 2rem 0px;
}
.container h2 {
  font-size: 24px;
  margin-bottom: 32px;
}
.strong_point_box {
  padding: 32px 18px;
}

#strong_ship.ship {
  top: 412px;
  left: 20px;
}
.island {
  right: 30px;
}

}



/* detail page */
.contents_area_detail {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.contents_area_detail h2 {
  font-size: 24px;
  text-align: center;
}
.mockup_title {
  font-size: 18px;
}
.mockup_text_area {
  display: block;
}
.mockup_page_right {
  width: auto;
}
.mockup_page_left {
  width: auto;
}
/* 
.mockup_text {
  font-size: 14px;
} */

.mockup_text:last-child {
  margin-bottom: 40px;
}
}


@media screen and (min-width:375px) and ( max-width:768px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/
.sp_title_area {
    display: flex;
    width: 8%;
    gap: 16%;
    margin: -13% 42% 0 50%;
    flex-direction: row-reverse;
}
.firstview {
  width: 100%;
  height: 126vh;
}

.scroll_down:before {
  left: -4px;
  width: 8px;
  height: 8px;
  margin-left: 13px;
  margin-bottom: 173px;
}
.scroll_down a {
  bottom: 265px;
}
.scroll_down:after {
  bottom: 180px;
}

.contents_area_works {

}
}



@media screen and (min-width:510px) and (max-width:630px){
  .firstview {
    height: 104vh;
  }
  .thanks_page_title {
    font-size: 36px;
  }
  .thanks_page_text {
    font-size: 20px;
  }
}
@media screen and (max-width:550px) {
.works_img {
  width: 100%;
}
.form-row {
  display: block;
}

.thanks_page_title {
  font-size: 24px;
}
.thanks_page_text {
  font-size: 18px;
}
#strong_ship.ship {
  display: none;
}
.island {
  display: none;
}
}

@media screen and (min-width:375px) and (max-width:485px) {
  .firstview {
    width: 100%;
    height: 74vh;
  }
  .comment {
    font-size: 9px;
  }

@media screen and (min-width:375px) and (max-width:478px) {
  .firstview {
    width: 100%;
    height: 81vh;
  }
.scroll_down a {
  bottom: 425px;
  font-size: 10px;
}
.scroll_down:before {
  margin-bottom: 311px;
}
.scroll_down:after {
  bottom: 318px;
}
a.btn--radius {
  font-size: 16px;
  padding: 2% 2% 5% 3%;
}
.c-form__submit button {
  font-size: 18px;
}
.parallax_content {
  background-attachment: scroll;
  }
}





@media screen and (max-width:375px) {
  .firstview {
    height: 75vh;
    width: 100%;
  }
  .sp_title_area {
    width: 9%;
    gap: 16%;
    margin: -31% 42% 0 50%;
  }
  #header.top_page_header {
    padding: 18px 0 0 0 ;
  }
  #navbtn {
    right: 20px;
  }

  .scroll_down a {
    bottom: 440px;
    font-size: 10px;
  }
  .scroll_down:before {
    margin-bottom: 325px;
  }
  .scroll_down:after {
    bottom: 332px;
  }

  a.btn--radius {
    font-size: 18px;
    padding: 2% 2% 5% 3%;
  }

  .works_img {
    width: 100%;
    margin: 0 auto 10px;
  }
  .works_img img {
    width: 100%;
    object-position: -18px 60%;
  }
  .works_text {
    font-size: 14px;
    margin: 0 10%;
  }

  .c-form__submit button {
    font-size: 16px;
  }

  #profile_footer {
  width: 78%;
  }
  .works_btn {
  font-size: 16px;
  }

  .parallax_content {
  background-attachment: scroll;
  }
  .ribbon1 {
  font-size: 13px;
  padding: 0 26px;
  }
#profile_b .english_name_profile_page {
      font-size: 13px;
  }
}

















/* 波形のコードコピーしたらついてきた
@media screen and (min-width: 768px) {
  .u-pc {
      display: block;
  }

  .u-sp {
      display: none;
  }
} */



/* loading */

/* .loading-animation_gif img {
  width: 100%;
} */

/*========= ローディング画面のためのCSS ===============*/
/* #splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
/* .splashbg{
    display: none;
} */

/*bodyにappearクラスがついたら出現*/
/* body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left: 0;
    transform: scaleY(0);
    background-color: lightcoral;/*伸びる背景色の設定*/
	/* animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards; */

*/

/* @keyframes PageAnime{
	0% {
		transform-origin:bottom;
		transform:scaleY(0);
	}
	50% {
		transform-origin:bottom;
		transform:scaleY(1);
	}
	50.001% {
		transform-origin:top;
	}
	100% {
		transform-origin:top;
		transform:scaleY(0);
	}
} */







/* 
@media screen and (max-width: 768px){
  .parallax_content{
    height: 100%;
    background-image: none;
  }
  .parallax::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    min-hieght: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
  }
  .parallax_content.img_bg_01::before{
    background-image: url();
  }
  .parallax_content.img_bg_02::before{
    background-image: url();
  }
  .parallax_content.img_bg_03::before{
    background-image: url();
  }
} */
